.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://www.pos365.vn/storage/app/media/2021/12/thiet-ke-nha-hang-nhat-ban/thiet-ke-nha-hang-nhat-ban-1-1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: white;
    padding: 0 5rem;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.hero-content h1 span {
    color: var(--primary-color);
    line-height: 4rem;
    font-size: 5rem;
    font-weight: 700;
}

.hero-content .left div {
    margin-top: 20px;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s;
    font-size: 1.2rem;
}

.btn:hover {
    background: #c0392b;
}